* {
	font-family: 'Lucida Grande', sans-serif;
	color: #666;
	line-height: 2em;
}

.container {
	width: 100%;
}

.row {
	width: 100%;
}

.col-md-12 {
	width: 100%;
	margin: 25px 15px 0px;
	text-align: center;
}

h1 {
	font-size: 48px;
}

.col-md-5 {
	width: 41.66%;
	left: 57px;
	padding: 20px 0px;
}

.img-responsive {
	width: 374px;
	max-width: 100%;
	height: auto;
}

.rectangle {
	width: 374px;
	height: 224px;
	margin-top: 30px;
	padding: 10px 0px 0px 30px;
	border: 1px solid;
	color: #ccc;
}

h2 {
	color: #f07c17;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 20px;
}
/*I tried setting padding-left here and at .col-md-7, but preset paddings altered my page. 
Shorthand css gives me a Udacious rating.*/
ul {
	padding: 0px 0px 0px 40px;
}

li {
	font-size: 15.5px;
	padding-bottom: 1px;
}

.col-md-7 {
	width: 58.33%;
	padding: 0px 0px 0px 47px;
}

/*I searched Piazza and Github and saw students styling the paragraphs rather than the text.
Once I deleted .text and set the font-size in p{} everything fell in place!*/
p {
	font-size: 16px;
}
